/* .usersSidebarContainer p{
	margin-bottom: 0;
	border-bottom: 1px solid #F4F4F4;
	padding: 5px;
} */
div.userSearchInput {
	padding: 0.5rem;
	position: relative;
}

div.userSearchInput > span.searchPlaceholder {
	top: 10px;
	left: 10px;
  color: #d9d9d9;
	font-size: 20px;
  position: absolute;
}

div.userSearchInput input {
	border: 0;
	border-radius: 0;
	padding-left: 25px;
	background: transparent;
	outline: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid #d9d9d9;
}

div.sideBarUserItem {
	width: 100%;
	display: flex;
	padding: 0px 10px;
	align-items: center;
	justify-content: space-between;
}

.userSidebarTitleContainer {
	font-size: 0.9rem;
	color: #DE6834;
	font-weight: 600;
}

.userSidebarTitleContainer svg {
	width: 10px;
	position: relative;
	top: 5px;
	right: 5px;
}

.onlineUserIcon {
	background-color: #52c41a;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: relative;
	top: 3px;
	display: inline-block;
	position: relative;
	top: -2px;
	right: 0px;
	margin-right: 3px;
}

.sideBarUserItemOptions{
	display: flex;
    justify-content: space-between;
}